/*
 * added 0 in filename to be first file for inclusion
 */

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$brand-primary: lighten(rgb(91, 47, 23), 15%);
$kopfsache-brand-primary: rgb(91, 47, 23);
$kopfsache-brand-secondary: #977A65;
$kopfsache-brand-tertiary: #F5C9A2;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$kopfsache-shadow-subtle-color: rgba(0, 0, 0, 0.15);
$kopfsache-shadow-bottom: 0 2px 4px 0;
$kopfsache-shadow-top: 0px -2px 4px 0;
$kopfsache-shadow-left: 2px 0px 4px 0;
$kopfsache-shadow-right: -2px 0px 4px 0;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;