$navbar-default-bg: white; // lighten($kopfsache-brand-secondary,45%);

//$navbar-default-brand-color: white;

$navbar-default-brand-hover-color: white;
$navbar-default-brand-hover-bg: darken($navbar-default-bg, 5%);


$navbar-default-link-color: lighten(black,30%);
$navbar-default-link-hover-color: black;
$navbar-default-link-hover-bg: transparent; //lighten($kopfsache-brand-secondary, 20%);
$navbar-default-link-active-color: $kopfsache-brand-primary;
$navbar-default-link-active-bg: transparent; //lighten($kopfsache-brand-secondary, 3%);

$dropdown-link-hover-bg: lighten($kopfsache-brand-secondary, 30%);
$dropdown-link-hover-color: $kopfsache-brand-primary;

.nav li.active > a:after {
  border-left: 3px solid rgba(0,0,0,0);
  border-right: 3px solid rgba(0,0,0,0);
  border-top: 3px solid $kopfsache-brand-primary;
  content: " ";
  display: block;
  height: 0px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 2;
}

.toolbar {
  li {
    &:hover {
      border-top: 2px solid transparent !important;
    }
  }
  @media (max-width: $screen-xs-max) {
    li {
      display: inline-block !important;

    }
  }
  a {
    font-size: 2.5rem;
  }
}

.navbar {
  box-shadow: $kopfsache-shadow-bottom $kopfsache-shadow-subtle-color;

  a {
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
  }

  a.navbar-brand {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "fedra_sans_light";
    padding-top: 10px;
    padding-bottom: 0px;
    color: $kopfsache-brand-primary;
    border-bottom: 2px solid transparent;
    transition: color 200ms;
    img {
      max-height: 45px;
      margin-right: 10px;
    }

    &:hover {
      //border-color: $navbar-default-brand-hover-bg;
      color: $brand-primary;
      background-color: transparent !important;
      //text-shadow: 1px 1px 2px rgba(0,0,0,.3);

    }
  }
  .navbar-nav li {

    border-top: 2px solid transparent;
    &.active {
      border-top: 2px solid $kopfsache-brand-primary !important;
    }
    &:hover {
      border-top: 2px solid $kopfsache-brand-primary;
    }
    li {
      border-top: none !important;
    }
    .dropdown-menu {
      //margin-top: 3px !important;
    }

    &.facebook-link {

      a {
        color: rgba(78, 105, 162, .8) !important;
        &:hover, :active, :focus {
          color: rgba(78, 105, 162, 1) !important;
        }
      }
    }
  }
}