.panel-box {
  /*border: 1px solid #eee !important;
  border-bottom: 2px solid #eee !important;
  border-top: 3px solid $kopfsache-brand-secondary !important; */
  padding: 0 10px 10px 10px;

  .panel-header {
    margin-top: 10px;
    i.fa {
      width: px;
      border: 1px solid $kopfsache-brand-primary;
      color: $kopfsache-brand-primary;
      border-radius: 50% 50%;
      height: 32px;
      line-height: 32px;
      text-align: center;
      vertical-align: baseline;
      width: 32px;
      font-size: 21px;
    }
  }
}