.tp-bannertimer {
  top: auto !important;
  bottom: 0px !important;
  height: 5px !important;
}

.orbit-bigbar {
  background-color: #eee;
  opacity: 0.70 !important;
  width: 100%;
  height: 38%;
  z-index: 98;
  bottom: 0px !important;
  position: absolute;
}

.orbit-bigbar-logo {
  width: 100%;
  z-index: 99;
  bottom: 0px !important;
  position: absolute;
  text-align: center;
  img {
    max-width: 90%;
  }
}