<div class="container container-panorama-header">

  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner" style="overflow: hidden">
      <ul>
        <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images/thumbs/thumb1.jpg">
          <img src="<%= asset_path("panorama2.jpg") %>" data-fullwidthcentering="on">
        </li>

        <li data-transition="fade" data-slotamount="0" data-masterspeed="2300" data-delay="9400" data-thumb="images/thumbs/thumb2.jpg">
          <img src="<%= asset_path("panorama1.jpg") %>" data-fullwidthcentering="on">
        </li>

        <li data-transition="fade" data-slotamount="2" data-masterspeed="2300" data-delay="9400">
          <img src="<%= asset_path("panorama3.jpg") %>" data-fullwidthcentering="on">
        </li>
      </ul>

      <div class="tp-bannertimer"></div>

    </div>
  </div>
</div>

<div class="container container-main">
  <div class="row">
    <div class="col-md-8">
      <div class="panel-box">
          <h3 class="panel-header"><i class="fa fa-cut"></i> Frisör Kopfsache</h3>
        <p>Herzlich Willkommen bei Kopfsache by Andrea Kraus - wir zaubern Wohlfühlmomente für ihr Haar - seit fast 10 Jahren.</p>

        <p>Vereinbaren Sie direkt einen Termin (<abbr title="Telefon"><i class="fa fa-phone"></i></abbr> <a href="tel:00499435300232">09435 30 02 32</a>) und besuchen Sie uns in Stulln (<%= link_to "Kirchstr. 5", kontakt_path %>).</p>
        <p>Wir freuen uns auf ihren Besuch und ihre Wünsche erfüllen zu dürfen</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-box">
        <h3 class="panel-header"><i class="fa fa-clock-o"></i> Öffnungszeiten</h3>
        <dl class="dl-horizontal">
          <dt>Montag, Dienstag</dt>
          <dd>8-19 Uhr</dd>
          <dt>Mittwoch</dt>
          <dd>8-13 Uhr</dd>
          <dt>Donnerstag</dt>
          <dd>geschlossen</dd>
          <dt>Freitag</dt>
          <dd>8-19 Uhr</dd>
          <dt>Samstag</dt>
          <dd>8-13 Uhr</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

</div>
<script type="text/javascript">

    var tpj=jQuery;
    tpj.noConflict();

    tpj(document).ready(function() {

        if (tpj.fn.cssOriginal!=undefined)
            tpj.fn.css = tpj.fn.cssOriginal;

        var slider = tpj('.fullwidthbanner').revolution(
                {
                    delay:9000,
                    startwidth:960,
                    startheight:500,

                    onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off

                    thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight:50,
                    thumbAmount:3,

                    hideThumbs:0,
                    navigationType:"bullet",				// bullet, thumb, none
                    navigationArrows:"solo",				// nexttobullets, solo (old name verticalcentered), none

                    navigationStyle:"round",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                    navigationHAlign:"center",				// Vertical Align top,center,bottom
                    navigationVAlign:"bottom",					// Horizontal Align left,center,right
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    touchenabled:"on",						// Enable Swipe Function : on/off



                    stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                    stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                    hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                    hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
                    hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


                    fullWidth:"on",

                    shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

                });
        slider.bind("revolution.slide.onloaded",function (e,data) {
            jQuery('.tp-bannertimer').before('<div class="orbit-bigbar"></div>');
            jQuery('.tp-bannertimer').before('<div class="orbit-bigbar-logo"><%= image_tag("kopfsache-logo-glass.png") %></div>');
        });
    });
</script>
