<% content_for(:title) do %>Kontakt<% end %>
<div class="container container-panorama-header container-sidepages kontakt">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?q=kirchstra%C3%9Fe+5,+92551+stulln&amp;ie=UTF8&amp;oe=utf-8&amp;hnear=Kirchstra%C3%9Fe+5,+92551+Stulln&amp;t=m&amp;hq=&amp;ll=49.421164,12.140751&amp;spn=0.009771,0.051498&amp;z=15&amp;output=embed"></iframe>
</div>
<div class="container container-main">

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h1 class="sidepages">Kontakt</h1>
      <address>
        <strong>Kopfsache by Andrea Kraus</strong><br>
        Kirchstr. 5<br>
        92551 Stulln<br><br>
        <abbr title="Telefon"><i class="fa fa-phone"></i></abbr> <a href="tel:00499435300232">09435 30 02 32</a>
      </address>
    </div>
  </div>

</div>