<% content_for(:title) do %>Salon und Service<% end %>
<div class="container container-panorama-salon">

  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner" style="overflow: hidden">
      <ul>
        <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images/thumbs/thumb1.jpg">
          <img src="<%= asset_path("panorama2.jpg") %>" data-fullwidthcentering="on">
        </li>

        <li data-transition="fade" data-slotamount="0" data-masterspeed="2300" data-delay="9400" data-thumb="images/thumbs/thumb2.jpg">
          <img src="<%= asset_path("panorama1.jpg") %>" data-fullwidthcentering="on">
        </li>

        <li data-transition="fade" data-slotamount="2" data-masterspeed="2300" data-delay="9400"">
          <img src="<%= asset_path("panorama3.jpg") %>" data-fullwidthcentering="on">
        </li>
      </ul>

      <div class="tp-bannertimer"></div>
    </div>
  </div>
</div>
<div class="container container-main">
  <h1 class="sidepages">Salon</h1>
  <div class="row padding-bottom">
    <div class="col-md-6">
      <h2>Wir für Sie</h2>
      <ul class="list-unstyled">
        <li>3x wöchentlich bis 19 Uhr geöffnet</li>
        <li>Telefonische Terminvereinbarung für kurze Wartezeiten</li>
        <li>Wohlfühlatmosphäre für Sie und Ihn</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Wir bieten</h2>
      <ul class="list-unstyled">
        <li>Styling und Coloration - individuell auf Sie abgestimmt!</li>
        <li>Umforumg Ihres Haars</li>
        <li>Straight Therapie - Glättung des Haars</li>
        <li>Braut- und Hochzeitsfrisuren</li>
        <li>Steckfrisuren für jeden Anlass</li>
      </ul>
    </div>
  </div>
  <h2>Hairstyling und Trends</h2>
  <ul class="list-unstyled">
    <li>Tages- und Abendmakeup (<%= link_to "Pupa Makeup", "http://www.pupa-makeup.de", target: "_blank" %>)</li>
    <li><%= link_to "Great Lengths", "http://www.greatlengths.de", target: "_blank" %></li>
  </ul>

  <div class="row partner-images">
    <div class="col-md-4">
      <%= link_to image_tag("pupa.png",alt: "Pupa Makeup", class: "img-responsive"), "http://www.pupa-makeup.de", target: "_blank" %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag("pmlogo1blk.png",alt: "Paul Mitchell", class: "img-responsive"), "http://paul-mitchell.de", target: "_blank" %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag("gl-logo-de-cmyk.png",alt: "Great Lengths", class: "img-responsive"), "http://www.greatlengths.de", target: "_blank" %>
    </div>
  </div>

  <p class="lead">Entspannen Sie sich und genießen Sie die Verwöhnstunden bei uns. Wir freuen uns auf Sie!</p>
</div>

<script type="text/javascript">

    var tpj=jQuery;
    tpj.noConflict();

    tpj(document).ready(function() {

        if (tpj.fn.cssOriginal!=undefined)
            tpj.fn.css = tpj.fn.cssOriginal;

        var slider = tpj('.fullwidthbanner').revolution(
                {
                    delay:9000,
                    startwidth:960,
                    startheight:500,

                    onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off

                    thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight:50,
                    thumbAmount:3,

                    hideThumbs:0,
                    navigationType:"bullet",				// bullet, thumb, none
                    navigationArrows:"solo",				// nexttobullets, solo (old name verticalcentered), none

                    navigationStyle:"round",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                    navigationHAlign:"center",				// Vertical Align top,center,bottom
                    navigationVAlign:"bottom",					// Horizontal Align left,center,right
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    touchenabled:"on",						// Enable Swipe Function : on/off



                    stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                    stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                    hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                    hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
                    hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


                    fullWidth:"on",

                    shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

                });
    });
</script>