<% content_for(:title) do %>Team<% end %>
<div class="container container-panorama-header container-sidepages team">

</div>
<div class="container container-main">

  <div class="row padding-bottom">
    <div class="col-md-12">
      <h1 class="sidepages">Team <small>Das sind wir</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag("andrea.png",  class: "img-responsive team", alt: "Andrea") %>
      Andrea<br>Friseurmeisterin/Inhaberin
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag("daniela.png", class: "img-responsive team", alt: "Daniela") %>
      Daniela<br>Friseurmeisterin
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag("lisa.png", class: "img-responsive team", alt: "Lisa") %>
      Lisa<br>Friseurmeisterin
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center col-md-offset-2">
      <%= image_tag("christina.png", class: "img-responsive team", alt: "Christina") %>
      Christina<br>Gesellin in Teilzeit
    </div>

    <div class="col-md-4 text-center">
      <%= image_tag("inge.png", class: "img-responsive team", alt: "Inge") %>
      Inge<br>Gesellin in Teilzeit
    </div>
  </div>

  <p class="lead">Ihr Wohlbefinden und ihre Zufriedenheit sind unsere Motivation!</p>

</div>