@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600);
@font-face {
  font-family: 'fedra_sans_light';
  src: asset-url('fedra_sans__light-webfont.eot');
  src: asset-url('fedra_sans__light-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('fedra_sans__light-webfont.woff2') format('woff2'),
  asset-url('fedra_sans__light-webfont.woff') format('woff'),
  asset-url('fedra_sans__light-webfont.ttf') format('truetype'),
  asset-url('fedra_sans__light-webfont.svg#fedra_sans_light') format('svg');
  font-weight: normal;
  font-style: normal;

}
@import "sliderrevolution/settings";
@import "bootstrap-override/*";
@import "twitter/bootstrap";
@import "custom";


