body {
  padding-top: 0px;
  background: asset-url("pattern-9y9s.jpg") fixed;
}

.container-panorama-header {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 53px;
 /* margin-top: 50px;
  height: 500px;
  background: asset-url("panorama1.jpg") top center;
 // border-bottom: 1px solid $kopfsache-brand-secondary;
  box-shadow: inset $kopfsache-shadow-top $kopfsache-shadow-subtle-color;
  position: relative; */
}

.container-panorama-salon {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 53px;
  /* margin-top: 50px;
   height: 500px;
   background: asset-url("panorama1.jpg") top center;
  // border-bottom: 1px solid $kopfsache-brand-secondary;
   box-shadow: inset $kopfsache-shadow-top $kopfsache-shadow-subtle-color;
   position: relative; */
}

.container-panorama {
  background: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: $kopfsache-shadow-left $kopfsache-shadow-subtle-color, $kopfsache-shadow-right $kopfsache-shadow-subtle-color;
}

.container-main {
  padding-top: 15px;
  background: white;
  box-shadow: $kopfsache-shadow-left $kopfsache-shadow-subtle-color, $kopfsache-shadow-right $kopfsache-shadow-subtle-color;
}

@media (max-width: $screen-sm) {
  .container-sidepages {
    height: 150px !important;
  }
}
.container-sidepages {
  height: 300px;
  &.impressum {
    background: asset-url('impressum.jpg') center center;
  }
  &.team {
    background: asset-url('team.jpg') center center;
  }
}

.footer {
  //background: asset-url("texture_bg.png") repeat scroll 0 0 $kopfsache-brand-secondary;
  background: white;
  //border-top: 1px solid #ccc; //$kopfsache-brand-secondary;
  font-size: 0.9em;
  padding-top: 5px;
  color: lighten(black, 30%);
  //box-shadow: $kopfsache-shadow-left $kopfsache-shadow-subtle-color, $kopfsache-shadow-right $kopfsache-shadow-subtle-color;
  .list-inline li {
    &:first-child {
      border-left: none !important;
    }
    border-left: 1px solid #ccc;
  }
}

.fullwidthbanner-container{
  width:100% !important;
  position:relative;
  padding:0;
  max-height:500px !important;
  overflow:hidden;
}



.padding-bottom {
  padding-bottom: 10px;
}

.partner-images {
  a {
    line-height: 227px;
    text-align: center;
    display: block;
    img {
      display: inline-block !important;
      vertical-align: middle;
    }

  }
}