<!DOCTYPE html>
<html>
<head>
  <title><% if content_for?(:title) %><%= content_for(:title) %> - <% end %>Kopfsache - Ihr Friseur in Stulln</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Friseur Kopfsache, Ihr Friseur zum Wohlfühlen in Stulln. Wir bieten alles was Ihr Herz begehrt von Damen- und Herrenfrisuren über Tages- und Abendmakup bis hin zu Haarverlängerungen.">
  <meta name="keywords" content="Friseur Kopfsache, Friseur Stulln, Haarstyling Stulln, Haarverlängerung Stulln, Kopfsache Stulln, Frisör Kopfsache, Frisör Stulln, Haarschnitt">
  <meta name="author" content="Kopfsache Stulln">
  <meta name="google-site-verification" content="pFjQI8fSBaGhhVQr6EkrXcPoxQ0py1AN8xdPUu0kABE" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65280258-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="navbar navbar-default navbar-fixed-top navbar-extended">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("kopfsache-head-src.png") + "Kopfsache", root_path, :class => "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <% if params[:action] == "salon" %>class="active"<% end %>><%= link_to "Salon", salon_path %></li>
        <li <% if params[:action] == "team" %>class="active"<% end %>><%= link_to "Team", team_path %></li>
        <%#<li><a href="#contact">Service</a></li> %>
        <li <% if params[:action] == "kontakt" %>class="active"<% end %>><%= link_to "Kontakt", kontakt_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right toolbar">
        <li class="hidden-md hidden-lg"><a href="tel:00499435300232"><i class="fa fa-phone"></i></a></li>
        <li class="facebook-link"><a href="https://www.facebook.com/KopfsacheStulln" target="facebook"><i class="fa fa-facebook-official"></i></a></li>
      </ul>
    </div>
  </div>
</div>


<%= yield %>


<div class="container footer text-right">
  <ul class="list-inline">
    <li>&copy; Kopfsache Stulln <%= Time.now.year %></li>
    <li><%= link_to "Impressum", impressum_path %></li>
  </ul>
</div>



</body>
</html>
